@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}

.hide {
    display: none;
}

body {
    background-color: #ededed;
    text-align: center;
    font-family: DroidSans;
    color: #888;
}

.nav {
    background-color: #adb7f5;
    border-bottom: 3pt solid #9da5d9;
}

#logo {
    height: 60px;
}

.brand {
    width: 100px;
    margin-left: 20px;
}

/* .log-section {
    background-color: #fff;
    padding: 40px;
    margin: 30px 40px;
    border-radius: 20px;
} */


.form-header {
    color: #737fca;
    margin-top: 60px;
    margin-bottom: 40px;
}

.button {
    background-color: #737fca;
    border: none;
    margin-bottom: 60px;
    opacity: 1;
}

#createUser {
    margin-bottom: 0px;
}

.not-member {
    margin-bottom: 60px;    
}

#sign-up:link,
#sign-up:visited {
    color: #737fca;
}

/* CANDACE ADDED */

div #log-section .col-lg-3 {
    border: transparent;
}

.main-div,
.signup-div,
.loggedin-div {
    width: 35%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    display: none;
    border-radius: 20px;
    border: transparent;
}

.main-div,
.signup-div,
input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

.main-div,
.signup-div,
input:focus {
    border: 1px solid #777;
}

.main-div button,
.loggedin-div button,
.signup-div button {
    background: #a7b2fc;
    color: #fff;
    border: 1px solid #6d7bd4;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 100%;
    transition: 0.3s;
    margin-bottom: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}

.main-div button:hover,
.loggedin-div button:hover,
.signup-div button:hover {
    background: #fff;
    color: #a7b2fc;
    border: 1px solid #6d7bd4;
    cursor: pointer;
}
